<%= javascript_pack_tag "marron.js" %>
<div class="main photo-content">
 <div class="container">
   <h1>Marron's photo</h1>
   <div class="photo-content-items">
    <div class="photo-item1"></div>
    <div class="photo-item2"></div>
   </div>
  </div>
</div>
