<div class="main photo-top">
  <div class="container">
    <h1>with marron マロンとあそぼ🐾</h1>
    <h2><%= link_to("▶marron's photo","/photo/content") %></h2>
    <h2><%= link_to("▶マロンとじゃんけん!","/photo/janken") %></h2>
  </div>
</div>
