<div class="main photo-top">
  <div class="container">
    <div class="photos play-photo">
      <h2>Let's play</h2>
    </div>
    <h1>with You</h1>
    <%#<p>сѓесЃасѓИсѓДсѓцсЂесЂѓсЂЮсЂ╝сЂє­ЪљЙ<p>%>
      <h3 class="play1"><%= link_to("РќХmarron's photo","/photo/content") %></h3>
      <h3 class="play2"><%= link_to("РќХсѓесЃасѓИсѓДсѓцсЂесЂўсѓЃсѓЊсЂЉсѓЊ№╝Ђ","/photo/janken") %></h3>
    <div class="photos mj-painting"></div>
  </div>
</div>
