<div class="main home-profile">
 <div class="container">
    <div class="profile-biglarge"></div>
    <div class="profile-large"></div>
    <div class="profile-medium"></div>
    <div class="profile-small"></div>
  <div class="profile">
    <h1>ぼくはマロン</h1>
    <p>なおちゃんが高校生のときにぼくのことをみつけてくれたんだよ</p>
    <p>どうやって国見からつれてきてくれたとおもう?</p>
    <p>みんなに話すといつもみんなびっくりしてる</p>
    <p>そんなみんなをみてるとつい笑っちゃうんだ</p>
    <p>こんどなおちゃんにきいてみてね</p>
    <p>にぎやかなおうちでたまにのんびりおひるねをしながら毎日をすごしているよ</p>
    <p>ぼくはねこだけどたくさん毛がぬけたりしてみんなをこまらせたりはしないんだ</p>
    <p>ぼくが特別なねこだからだよね</p>
    <p>でも本当はよしみちゃんがいつもおふろにいれてくれるからなんだ(みんなには秘密だよ)</p>
    <p>もっときみにぼくのことしってほしいな</p>
    <p>questionページからぼくに質問してみてね!</p>
    <p>まってまーす🐾</p>
  </div>
  <div class="profile-tb">
    <h1>ぼくはマロン</h1>
    <p>なおちゃんが高校生のときにぼくのことを</p>
    <p>みつけてくれたんだよ</p>
    <p>どうやって国見からつれてきてくれたとおもう?</p>
    <p>みんなに話すといつもみんなびっくりしてる</p>
    <p>そんなみんなをみてるとつい笑っちゃうんだ</p>
    <p>こんどなおちゃんにきいてみてね</p>
    <p>にぎやかなおうちでたまにのんびりおひるねをしながら</p>
    <p>毎日をすごしているよ</p>
    <p>ぼくはねこだけど、たくさん毛がぬけたりして</p>
    <p>みんなをこまらせたりはしないんだ</p>
    <p>ぼくが特別なねこだからだよね</p>
    <p>でもね、ほんとうは</p>
    <p>よしみちゃんがいつもおふろにいれてくれるからなんだ</p>
    <p>(このことはみんなには秘密だよ)</p>
    <p>もっときみにぼくのことしってほしいな</p>
    <p>questionページからぼくに質問してみてね!</p>
    <p>まってまーす🐾</p>
  </div>
 </div>
</div>
