<div class="main home-profile">
 <div class="container">
    <div class="profile-biglarge"></div>
    <div class="profile-large"></div>
    <div class="profile-medium"></div>
    <div class="profile-small"></div>
  <div class="profile">
    <h1>ぼくはマロン Jr.</h1>
    <p>ぼくはマロン ジュニア</p>
    <p>MJ(エムジェイ)って呼んでね</p>
    <p>なおちゃんが高校生のときにマロンのことをみつけてくれたんだよ</p>
    <p>どうやって国見からつれてきてくれたとおもう?</p>
    <p>みんなに話すといつもみんなびっくりしてる</p>
    <p>そんなみんなをみてるとつい笑っちゃうんだって</p>
    <p>こんどなおちゃんにきいてみてね</p>
    <p>ぼくはねこだけどたくさん毛がぬけたりしてみんなをこまらせたりはしないんだ</p>
    <p>ぼくが特別なねこだからだよね</p>
    <p>でも本当はよしみちゃんがいつもおふろにいれてくれるからなんだ(みんなには秘密だよ)</p>
    <p>っていーつも楽しそうにお話を聞かせてくれるんだ</p>
    <p>もっときみにぼくのことしってほしいな</p>
    <p>questionページからぼくに質問してみてね!</p>
    <p>まってまーす🐾</p>
  </div>
  <div class="profile-tb">
    <h1>ぼくはマロン Jr.</h1>
    <p>ぼくはマロン ジュニア</p>
    <p>MJ(エムジェイ)って呼んでね</p>
    <p>なおちゃんが高校生のときにマロンのことを</p>
    <p>みつけてくれたんだよ</p>
    <p>どうやって国見からつれてきてくれたとおもう?</p>
    <p>みんなに話すといつもみんなびっくりしてる</p>
    <p>そんなみんなをみてるとつい笑っちゃうんだって</p>
    <p>こんどなおちゃんにきいてみてね</p>
    <p>ぼくはねこだけど、たくさん毛がぬけたりして</p>
    <p>みんなをこまらせたりはしないんだ</p>
    <p>ぼくが特別なねこだからだよね</p>
    <p>でもね、ほんとうは</p>
    <p>よしみちゃんがいつもおふろにいれてくれるからなんだ</p>
    <p>(このことはみんなには秘密だよ)</p>
    <p>っていーつも楽しそうにお話を聞かせてくれるんだ</p>
    <p>もっときみにぼくのことしってほしいな</p>
    <p>questionページからぼくに質問してみてね!</p>
    <p>まってまーす🐾</p>
  </div>
 </div>
</div>
