// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//共通css  ------------------------------------//
* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic Pro",sans-serif;
}

.container {
  margin-top: 70px;
  margin-bottom: 80px;
  text-align: center;
  width: 100%;
}

//posts.index/users.show//フラッシュメッセージ　----------------//

.flash {
  padding: 15px 0px;
  color: #009898;
  background: #CCFFF2;
  text-align: center;
  position: absolute;
  top: 64px;
  z-index: 9;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}

//ヘッダー--------------------------------------------//

header {
  height: 70px;
  top:0px;
  position: fixed;
  width: 100%;
  background-color: #F5FFFA;
  z-index: 100;
}

.header-logo {
  float: left;
  padding-left: 20px;
  line-height: 64px;
  font-size: 32px;
}

.header-menus {
  float: right;
  padding-right: 20px;
  padding-top: 15px;
}

.header-menus li {
  float: left;
  line-height: 46px;
  font-size: 14px;
  padding-left: 15px;
}

.header-menus-sp {
  display: none;
}

.header-right-icon{
  //color: #204539;
  //font-size: 30px;
  //line-height: 64px;
  //padding: 0px 15px;
  //margin: 0px 15px;
  //display:none;
}

.header-left-icon {
   padding: 0px 32px;
   display:none;
 }

.modal-menu {
  width: 100%;
  background-color: #F5FFFA;
  margin-top: 20px;
  padding-top: 25px;
  position: fixed;
  z-index: 99;
  width: 100%;
  border-bottom: 3px solid white;
  display:none;
}

.header-modal-menu li {
  font-size: 14px;
  padding: 15px 0px;
  font-weight: 530;
  text-align: right;
  letter-spacing: 5px;
  border-top: 2px solid white;
}

//ハンバーガーメニューCSS実装バージョン====///////

.header-right-icon {
  width: 27px;
  height: 64px;
  cursor: pointer;
  margin: 0px 18px;
  display:none;
}

.header-right-icon .line {
  position: absolute;
  width: 27px;
  height: 2px;
  background: black;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
 }

.header-right-icon .line_01 { top: 25px; }
.header-right-icon .line_02 { top: 35px; }
.header-right-icon .line_03 { top: 45px; }

.header-right-icon.is-active .line_01 {
  top: 35px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header-right-icon.is-active .line_02 {
  opacity: 0;
}

.header-right-icon.is-active .line_03 {
  top: 35px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

//home/top ----------------------------------------------//

.photos {
  position: relative;
  width: 100%;
  height:300px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.top-photo {
  margin-top: 50px;
  background-repeat:  no-repeat;
  background-image: url("/images/IMG_9663.JPG");
  background-size: 60%;
  background-position: center;
  opacity: 0.9;
}

.photos h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  padding: 0;
  margin: 0;
}

.top-photo h2 {
  color: rgba(255,255,255,0.85);
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 90px;
}

.top-photo span {
  color: #FFAA99;//#FCB19B;//#FFB299;
}

@mixin circle ($color){
  display: inline-block;
  border-radius: 50%;
  margin-left: 10px;
  text-align: center;
  background-color: $color;
}

.circle {
  margin: 10px;
  color: #ffffff;
  letter-spacing: 15px;


  .small {
    @include circle (#B2FF65);
    width: 40px;
    height: 40px;
  }

  .medium {
    @include circle (#CCFF99);
    width: 70px;
    height: 70px;
  }

  .large {
    @include circle (#E5FFCC);
    width: 100px;
    height: 100px;
  }
}

.top-message {
  padding: 20px 40px;
  text-align: center;
  letter-spacing: 10px;
}

h1:before {
  font-size:60px;
  font-family: "Font Awesome 5 Free";
  content: "\f6be";
  font-weight: 900;
  padding-right : 20px;
  color: black;
}

h1 {
  font-size:50px;
  color: black;
  margin: 0px;
}

.top-message h2 {
  font-size:50px;
  color: black;
  margin: 0px;
  padding-left: 250px;
}

.welcome-pc h3 {
  font-size: 30px;
  color: black;
  font-weight: 500;
  margin-top: 50px;
  display: block;
}

.welcome h3 {
  display: none;
}

//home/profile -------------------------------------------//
.profile-tb {
  display: none;
}

.profile h1{
  position: relative;
  text-align: center;
  font-size: 30px;
}

.profile p {
  position: relative;
  text-align: center;
  font-size: 15px;
}

.profile-small {
  position: absolute;
  border-radius: 50%;
  background-color: #B2FF65;
  width: 310px;
  height: 310px;
  margin-left: 900px;
  opacity: 0.2;
}

.profile-medium {
  position: absolute;
  border-radius: 50%;
  background-color: #CCFF99;
  width: 350px;
  height: 350px;
  margin-left: 90px;
  opacity: 0.2;
}

.profile-large {
  position: relative;
  position: absolute;
  border-radius: 50%;
  background-color: #E5FFCC;
  width: 500px;
  height: 500px;
  margin-left: 260px;
  margin-top: 60px;
  top: 250px;
  opacity: 0.3;
}

//posts/users/form --------------------------------------//

.form {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 6px #DBF9D1;
  border-radius: 4px;
  text-align: right;
}

.form-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: black;
}

.form-body {
  padding: 30px;
}

.form-body p {
  text-align: left;
}

.form-error {
  color: #009898;
}

.form input {
  width: 100%;
  border: 1px solid #d8dadf;
  padding: 10px;
  color: black;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form textarea {
  width: 100%;
  min-height: 110px;
  font-size: 16px;
  letter-spacing: 3px;
  border-radius: 4px;
  padding: 10px;
  resize: none;
  font-family: 'Avenir Next';
  border-color: #D6F4D6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form input[type="submit"] {
  background-color: #ECFCF4;
  color:black;
  width:130px;
  padding:10px;
  cursor:pointer;
  border-radius: 4px;
  margin-top: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

//フッター  ----------------------------------------------//

footer {
  height: 50px;
  width: 100%;
  //position: fixed; //画面幅の下に固定する時
  bottom: 0;
  background-color: #F5FFFA;
  z-index: 10;
  position: relative;
}

.footer-logo {
  float: right;
  font-size: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

// ディスプレイ1500px以上レイアウト　profile circleのみ　========////

@media all and (min-width: 1350px) {
  .profile-biglarge {
    position: absolute;
    border-radius: 50%;
    background-color: #D0FAD0;
    width: 750px;
    height: 750px;
    top: 25px;
    margin-left: 1400px;
    opacity: 0.2;
  }
}

@media all and (min-width: 1000px) {
  footer {
    position: fixed;
  }
}



// タブレット横向きレイアウト ==*******====/////
@media all and (max-width: 1100px) {

  .photos {
    height:700px;
    margin-top: 20px;
  }

  .top-photo {
    background-size: 70%;
  }

  .top-photo h2 {
    letter-spacing: 2px;
    font-size: 70px;
  }

  .profile-small {
    width: 300px;
    height: 300px;
    margin-left: 690px;
  }

  .profile-medium {
    margin-left: 50px;
  }

  .profile-large {
    margin-left: 200px;
  }
}

//ipad以下レイアウトヘッダーとphoto h2のみ　=====********=========//

@media all and (max-width: 812px) {

  header {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .header-item {
    align-self: auto;
    display: flex;
  }

  .header-logo {
    padding: 0px;
    justify-content:center;
    flex: auto;
  }

  .header-menus {
    display: none;
  }

  .header-right-icon {
    //display: block;
  }

  .header-left-icon {
    //display: block;
  }

  .header-menus-sp li {
    font-size: 14px;
    padding-top: 25px;
    font-weight: 530;
    text-align: center;
  }

  .current_user-sp {
    margin: 30px 0px;
    font-size: 15px;
    font-weight: 530;
  }

  .header-menus-sp {
    display: block;
  }

  .top-photo h2 {
    font-size: 60px;
  }

}



// タブレット向けレイアウト ***----*****-------**********-------******---//
@media all and (max-width: 768px) {

  .photos {
    height:550px;
    margin-top: -30px;
    margin-bottom: 0px;
  }

  .top-photo {
    background-image: url("/images/140907_7D_7426のコピー.jpg");//("/images/IMGP3036.JPG");
    background-size: contain;
    background-position: center;
    //border-radius: 50%;
  }

  .top-photo h2 {
    letter-spacing: 0px;
    font-size: 50px;
    top: 60%;
  }

  .top-photo span {
    color:white;
    opacity: 0.85;
  }

  .circle {
    letter-spacing: 40px;


    .small {
      width: 60px;
      height: 60px;
    }

    .medium {
      width: 90px;
      height: 90px;
    }

    .large {
      width: 120px;
      height: 120px;
    }
  }

  .top-message {
    padding: 0px;
  }

  h1:before {
    font-size:70px;
  }

  h1 {
    font-size: 55px;
    margin: 0px;
  }

  .top-message h2 {
    font-size:55px;
  }

  //home/profile -------------------------------------------//
  .profile {
    display: none;
  }

  .profile-tb {
    display: block;
  }

  .profile-tb h1{
    font-size: 40px;
  }

  .profile-tb p {
    position: relative;
    font-size: 25px;
  }

  .profile-small {
    margin-left: 400px;
    margin-top: 100px;
  }

  .profile-medium {
    width: 400px;
    height: 400px;
    margin-left: 20px;
    margin-top: 250px;
  }

  .profile-large {
    position: absolute;
    width: 600px;
    height: 600px;
    margin-left: 140px;
    margin-top: 600px;
  }

}

// スマホ向けレイアウト ***----*****-------**********-------******---//
@media all and (max-width: 480px) {

  //メイン  ----------------------------------------------//
   .photos {
     height: 250px;
     margin-top: -23px;
     margin-bottom: 20px;
   }

  .top-photo {
    background-image: url("/images/140907_7D_7426のコピー.jpg");//("/images/IMGP3036.JPG");
    background-size: contain;
    background-position: center;
    //border-radius: 50%;
  }

  .photos h2 {
    text-align: center;
    top: 65%;
  }

  .top-photo h2 {
    width: 100%;
    letter-spacing: 0px;
    font-size: 40px;
  }

  .top-photo span {
    color: white;
    opacity: 0.85;
  }

  .circle {
    letter-spacing: 25px;


    .small {
      width: 30px;
      height: 30px;
    }

    .medium {
      width: 50px;
      height: 50px;
    }

    .large {
      width: 90px;
      height: 90px;
    }
  }

  .top-message {
    letter-spacing: 5px;
  }

  h1:before {
    font-size:40px;
  }

  h1 {
    font-size:30px;
  }

  .top-message h2 {
    font-size:30px;
    padding-left: 170px;
  }

  .welcome h3 {
    font-size: 25px;
    font-weight:300;
    margin: 5px 0;
    display: block;
  }
  .welcome {
    margin: 20px 0px;
  }

  .welcome-pc {
    display: none;
  }


  //home/profile -------------------------------------------//

  .profile-tb h1{
    font-size: 30px;
  }

  .profile-tb p {
    font-size: 13px;
    font-weight: 500;
  }

  .profile-small {
    width: 170px;
    height: 170px;
    margin-left: 200px;
    margin-top: 50px;
  }

  .profile-medium {
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-top: 200px;
  }

  .profile-large {
    width: 320px;
    height: 320px;
    margin-left: 50px;
    margin-top: 300px;
  }

  //posts/users/form --------------------------------------//

  .form {
    max-width: 350px;
  }

  .form-heading {
    font-size: 23px;
  }

}
