// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//users/login_form ------------------------------------//
.singup-in a {
  padding: 20px 0px;
  color: #009898;
}

.users-new .users-form {
  margin-top: 20px;
}

//user/show ---------------------------------------//

.user-show .container {
  margin-bottom: 350px;
}

.user-show-profile h2 {
  font-size: 30px;
  position: relative;
  z-index: 9;
}

.user-show-profile h3 {
  font-size: 15px;
  //margin-bottom: 15px;
  font-weight: 500;
  margin-top: 0px;
  position: relative;
  z-index: 9;
}

.user-show-profile a {
  color: #8899a6;
  text-decoration: underline;
  font-weight: 200;
  position: relative;
  z-index: 9;
}

.user-show-posts h4 {
  padding: 15px 0;
  margin: 0px;
  color: #009898;//#00CBCB;
  text-align: center;
  position: relative;
  z-index: 9;
}

.user-show-posts h4 a{
  color: #009898;
}

.user-show-posts {
  max-width: 700px;
  margin: 0 auto;
  background-color: white;
  padding: 0px 60px;
  text-align: center;
}

.user-show-posts .posts-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #DBF9D1;
  //text-align: center;
  position: relative;
  z-index: 9;
}

.user-right-circle-s {
  position: absolute;
  border-radius: 50%;
  background-color: #D0FAD0;
  width: 300px;
  height: 300px;
  margin-left: 30px;
  //margin-top: 60px;
  top: 40px;
  opacity: 0.3;
}

.user-right-circle-l {
  position: absolute;
  border-radius: 50%;
  background-color: #CCFF99;
  width: 420px;
  height: 420px;
  margin-left: 140px;
  //margin-top: 60px;
  top: 190px;
  opacity: 0.3;
}

.user-left-circle {
  position: absolute;
  border-radius: 50%;
  background-color: #E5FFCC;
  width: 500px;
  height: 500px;
  margin-left: 650px;
  //margin-top: 60px;
  top: 0px;
  opacity: 0.3;
}

// ディスプレイ1500px以上レイアウト　user show circleのみ　========////

@media all and (min-width: 1300px) {
  .user-circle-l {
    position: absolute;
    border-radius: 50%;
    background-color: #D0FAD0;
    width: 650px;
    height: 650px;
    top: 25px;
    margin-left: 1600px;
    opacity: 0.2;
  }

  .user-circle-s {
    position: absolute;
    border-radius: 50%;
    background-color: #D0FAD0;
    width: 400px;
    height: 400px;
    margin-left: 1300px;
    top: 140px;
    opacity: 0.3;
  }
}

//タブレット用レイアウト --------------------------------------------//
@media all and (max-width: 768px) {

  .user-show .container {
    margin-bottom: 650px;
  }

  .user-right-circle-s {
    //position: absolute;
    //border-radius: 50%;
    //background-color: #D0FAD0;
    width: 350px;
    height: 350px;
    margin-left: 10px;
    //margin-top: 60px;
    top: 220px;
    //opacity: 0.3;
  }

  .user-right-circle-l {
    //position: absolute;
    //border-radius: 50%;
    //background-color: #CCFF99;
    width: 570px;
    height: 570px;
    margin-left: 175px;
    //margin-top: 60px;
    top: 410px;
    //opacity: 0.3;
  }

  .user-left-circle {
    //position: absolute;
    //border-radius: 50%;
    //background-color: #E5FFCC;
    width: 400px;
    height: 400px;
    margin-left: 350px;
    //margin-top: 60px;
    top: 20px;
    //opacity: 0.3;
  }
}

//スマホ用レイアウト --------------------------------------------//
@media all and (max-width: 480px) {

  .user-show .container {
    margin-bottom: 400px;
  }

  .user-right-circle-s {
    //position: absolute;
    //border-radius: 50%;
    //background-color: #D0FAD0;
    width: 170px;
    height: 170px;
    margin-left: 10px;
    //margin-top: 60px;
    top: 250px;
    //opacity: 0.3;
  }

  .user-right-circle-l {
    //position: absolute;
    //border-radius: 50%;
    //background-color: #CCFF99;
    width: 350px;
    height: 350px;
    margin-left: 10px;
    //margin-top: 60px;
    top: 370px;
    //opacity: 0.3;
  }

  .user-left-circle {
    //position: absolute;
    //border-radius: 50%;
    //background-color: #E5FFCC;
    width: 280px;
    height: 280px;
    margin-left: 90px;
    //margin-top: 60px;
    top: 40px;
    //opacity: 0.3;
  }

  .user-show-posts {
    max-width: 350px;
    //margin: 0 auto;
    //background-color: white;
    padding: 0px;
    //text-align: center;
  }

}
